# Evaluating Hospital Effectiveness - Data Amalgamation & Cleaning
# Data Acquisition and Cleaning

Thien Nguyen

## Abstract

There are ubiquitous problems within the US healthcare system, and one of the biggest problems revolves around costs. While every single hospital in the US has a chargemaster, a list of costs for all billable procedures, accessing this esoteric list as a consumer is nigh impossible, as [Vox](https://www.youtube.com/watch?v=Tct38KwROdw) has demonstrated.

As a result, market forces that are supposed to drive down prices via competition are ineffective due to the secrecy of these prices. This leads to wild discrepancies between institutions. Human psychology dictates that one's health is vital, which allow many healthcare services and products to have an inelastic demand. Furthermore, this also creates a misconceived notion around utility and price--Ie. consumers believe that paying higher prices for healthcare services actually results in better services.

This investigation seeks to evaluate whether this ideation is true or if it is simply a misconception. Since chargemasters are secretive, it would be greatly beneficial for the public if there are some other factors that can be used for cost-benefit analysis when it comes to healthcare. Shedding truth on this matter may provide critical information for the public that is necessary for driving down costs for an industry littered with problems.

If a highly accurate model can be established, then many consumers would indeed pay for such information. Of course, this does not need to be in the form of monetary payment. Offering the model as a free-service would lead to high traffic, which would in turn allure merchants to buy advertising pace.

## Part 1: Obtaining and Organizing Data

In [1]:
#Create a seed for reproducible results
import numpy as np
import pandas as pd
np.random.seed(0)

## Examining and Scrubbing Data

First, the data in each csv will be examined to find any superfluous columns that can be removed

In [2]:
complications = pd.read_csv('Data/Complications_and_Deaths.csv')
complications.head()

,Provider ID,Hospital Name,Address,City,State,ZIP Code,County Name,Phone Number,Measure Name,Measure ID,Compared to National,Denominator,Score,Lower Estimate,Higher Estimate,Footnote,Measure Start Date,Measure End Date,Location
0,010001,SOUTHEAST ALABAMA MEDICAL CENTER,1108 ROSS CLARK CIRCLE,DOTHAN,AL,36301,HOUSTON,3347938701,Rate of complications for hip/knee replacement...,COMP_HIP_KNEE,No Different Than the National Rate,292,3.2,2.1,4.8,NaN,04/01/2015,03/31/2018,"1108 ROSS CLARK CIRCLE DOTHAN, AL 36301 (31.21..."
1,010001,SOUTHEAST ALABAMA MEDICAL CENTER,1108 ROSS CLARK CIRCLE,DOTHAN,AL,36301,HOUSTON,3347938701,Death rate for heart attack patients,MORT_30_AMI,No Different Than the National Rate,688,13,11.0,15.5,NaN,07/01/2015,06/30/2018,"1108 ROSS CLARK CIRCLE DOTHAN, AL 36301 (31.21..."
2,010001,SOUTHEAST ALABAMA MEDICAL CENTER,1108 ROSS CLARK CIRCLE,DOTHAN,AL,36301,HOUSTON,3347938701,Death rate for CABG surgery patients,MORT_30_CABG,No Different Than the National Rate,291,4.3,2.6,6.8,NaN,07/01/2015,06/30/2018,"1108 ROSS CLARK CIRCLE DOTHAN, AL 36301 (31.21..."
3,010001,SOUTHEAST ALABAMA MEDICAL CENTER,1108 ROSS CLARK CIRCLE,DOTHAN,AL,36301,HOUSTON,3347938701,Death rate for COPD patients,MORT_30_COPD,No Different Than the National Rate,411,8.8,6.7,11.4,NaN,07/01/2015,06/30/2018,"1108 ROSS CLARK CIRCLE DOTHAN, AL 36301 (31.21..."
4,010001,SOUTHEAST ALABAMA MEDICAL CENTER,1108 ROSS CLARK CIRCLE,DOTHAN,AL,36301,HOUSTON,3347938701,Death rate for heart failure patients,MORT_30_HF,No Different Than the National Rate,869,12.7,10.7,15.0,NaN,07/01/2015,06/30/2018,"1108 ROSS CLARK CIRCLE DOTHAN, AL 36301 (31.21..."

In [3]:
infections = pd.read_csv('Data/Healthcare_Associated_Infections.csv')
infections.head()

,Provider ID,Hospital Name,Address,City,State,ZIP Code,County Name,Phone Number,Measure Name,Measure ID,Compared to National,Score,Footnote,Measure Start Date,Measure End Date,Location
0,10012,DEKALB REGIONAL MEDICAL CENTER,200 MED CENTER DRIVE,FORT PAYNE,AL,35968,DE KALB,2568453150,MRSA Bacteremia: Patient Days,HAI_5_DOPC,Not Available,16402,NaN,10/01/2017,09/30/2018,"200 MED CENTER DRIVE FORT PAYNE, AL 35968"
1,181329,SAINT JOSEPH BEREA,305 ESTILL STREET,BEREA,KY,40403,MADISON,8599866500,MRSA Bacteremia: Predicted Cases,HAI_5_ELIGCASES,Not Available,0.083,NaN,10/01/2017,09/30/2018,"305 ESTILL STREET BEREA, KY 40403 (37.574789, ..."
2,170150,SOUTH CENTRAL KS MED CENTER,6401 PATTERSON PARKWAY,ARKANSAS CITY,KS,67005,COWLEY,6204422500,SSI - Colon Surgery: Observed Cases,HAI_3_NUMERATOR,Not Available,0,NaN,10/01/2017,09/30/2018,"6401 PATTERSON PARKWAY ARKANSAS CITY, KS 67005..."
3,170194,DOCTORS HOSPITAL LLC,4901 COLLEGE BLVD,LEAWOOD,KS,66211,JOHNSON,9135291801,MRSA Bacteremia: Predicted Cases,HAI_5_ELIGCASES,Not Available,0.010,NaN,10/01/2017,09/30/2018,"4901 COLLEGE BLVD LEAWOOD, KS 66211 (38.927412..."
4,170191,UNIVERSITY OF KS HLTH SYSTEM GREAT BEND CAMPUS,514 CLEVELAND STREET,GREAT BEND,KS,67530,BARTON,6207928833,Clostridium Difficile (C.Diff): Predicted Cases,HAI_6_ELIGCASES,No Different than National Benchmark,1.936,NaN,10/01/2017,09/30/2018,"514 CLEVELAND STREET GREAT BEND, KS 67530 (38...."

In [4]:
spending = pd.read_csv('Data/Medicare_Spending_Per_Beneficiary.csv')
spending.head()

,Provider ID,Hospital Name,Address,City,State,ZIP Code,County Name,Phone Number,Measure Name,Measure ID,Score,Footnote,Measure Start Date,Measure End Date,Location
0,10001,SOUTHEAST ALABAMA MEDICAL CENTER,1108 ROSS CLARK CIRCLE,DOTHAN,AL,36301,HOUSTON,3347938701,Medicare hospital spending per patient (Medica...,MSPB-1,0.99,NaN,01/01/2017,12/31/2017,"1108 ROSS CLARK CIRCLE DOTHAN, AL 36301 (31.21..."
1,10005,MARSHALL MEDICAL CENTER SOUTH,2505 U S HIGHWAY 431 NORTH,BOAZ,AL,35957,MARSHALL,2565938310,Medicare hospital spending per patient (Medica...,MSPB-1,1.01,NaN,01/01/2017,12/31/2017,"2505 U S HIGHWAY 431 NORTH BOAZ, AL 35957"
2,10006,NORTH ALABAMA MEDICAL CENTER,1701 VETERANS DRIVE,FLORENCE,AL,35630,LAUDERDALE,2567688400,Medicare hospital spending per patient (Medica...,MSPB-1,0.99,NaN,01/01/2017,12/31/2017,"1701 VETERANS DRIVE FLORENCE, AL 35630 (34.802..."
3,10007,MIZELL MEMORIAL HOSPITAL,702 N MAIN ST,OPP,AL,36467,COVINGTON,3344933541,Medicare hospital spending per patient (Medica...,MSPB-1,1.08,NaN,01/01/2017,12/31/2017,"702 N MAIN ST OPP, AL 36467 (31.291972, -86.25..."
4,10008,CRENSHAW COMMUNITY HOSPITAL,101 HOSPITAL CIRCLE,LUVERNE,AL,36049,CRENSHAW,3343353374,Medicare hospital spending per patient (Medica...,MSPB-1,1.06,NaN,01/01/2017,12/31/2017,"101 HOSPITAL CIRCLE LUVERNE, AL 36049 (31.6925..."

In [5]:
voc = pd.read_csv('Data/Payment_and_value_of_care.csv')
voc.head()

,Provider ID,Hospital name,Address,City,State,ZIP Code,County name,Phone number,Payment measure name,Payment measure ID,...,Lower estimate,Higher estimate,Payment footnote,Value of care display name,Value of care display ID,Value of care category,Value of care footnote,Measure start date,Measure End Date,Location
0,10001,SOUTHEAST ALABAMA MEDICAL CENTER,1108 ROSS CLARK CIRCLE,DOTHAN,AL,36301,HOUSTON,3347938701,Payment for heart attack patients,PAYM_30_AMI,...,"$22,939","$25,579",NaN,Value of Care Heart Attack measure,MORT_PAYM_30_AMI,Average Mortality and Average Payment,NaN,07/01/2015,06/30/2018,"1108 ROSS CLARK CIRCLE DOTHAN, AL 36301 (31.21..."
1,10001,SOUTHEAST ALABAMA MEDICAL CENTER,1108 ROSS CLARK CIRCLE,DOTHAN,AL,36301,HOUSTON,3347938701,Payment for heart failure patients,PAYM_30_HF,...,"$16,905","$18,523",NaN,Value of Care Heart Failure measur,MORT_PAYM_30_HF,Average Mortality and Average Payment,NaN,07/01/2015,06/30/2018,"1108 ROSS CLARK CIRCLE DOTHAN, AL 36301 (31.21..."
2,10001,SOUTHEAST ALABAMA MEDICAL CENTER,1108 ROSS CLARK CIRCLE,DOTHAN,AL,36301,HOUSTON,3347938701,Payment for pneumonia patients,PAYM_30_PN,...,"$18,191","$20,214",NaN,Value of Care Pneumonia measure,MORT_PAYM_30_PN,Average Mortality and Higher Payment,NaN,07/01/2015,06/30/2018,"1108 ROSS CLARK CIRCLE DOTHAN, AL 36301 (31.21..."
3,10001,SOUTHEAST ALABAMA MEDICAL CENTER,1108 ROSS CLARK CIRCLE,DOTHAN,AL,36301,HOUSTON,3347938701,Payment for hip/knee replacement patients,PAYM_90_HIP_KNEE,...,"$23,894","$26,172",NaN,Value of Care hip/knee replacement,COMP_PAYM_90_HIP_KNEE,Average Complications and Higher Payment,NaN,04/01/2015,03/31/2018,"1108 ROSS CLARK CIRCLE DOTHAN, AL 36301 (31.21..."
4,10005,MARSHALL MEDICAL CENTER SOUTH,2505 U S HIGHWAY 431 NORTH,BOAZ,AL,35957,MARSHALL,2565938310,Payment for heart attack patients,PAYM_30_AMI,...,"$20,225","$25,559",NaN,Value of Care Heart Attack measure,MORT_PAYM_30_AMI,Average Mortality and Average Payment,NaN,07/01/2015,06/30/2018,"2505 U S HIGHWAY 431 NORTH BOAZ, AL 35957"

In [6]:
psi = pd.read_csv('Data/PSI-90_and_component_measures.csv')
psi.head()

,Provider_ID,Provider_Name,Address,City,State,Zip_Code,County,Measure_Name,Measure_ID,Rate,Footnote,Start_Date,End_Date,Location
0,50224,HOAG MEMORIAL HOSPITAL PRESBYTERIAN,ONE HOAG DRIVE,NEWPORT BEACH,CA,92663,ORANGE,Pressure sores,PSI-3,0.883469,NaN,07/01/2016,06/30/2018,"ONE HOAG DRIVE NEWPORT BEACH, CA 92663"
1,170166,MORTON COUNTY HOSPITAL,445 N HILLTOP,ELKHART,KS,67950,MORTON,Pressure sores,PSI-3,0.479461,NaN,07/01/2016,06/30/2018,"445 N HILLTOP ELKHART, KS 67950"
2,171312,COMANCHE COUNTY HOSPITAL,2ND & FRISCO STREET,COLDWATER,KS,67029,COMANCHE,Pressure sores,PSI-3,Not Available,13.0,07/01/2016,06/30/2018,"2ND & FRISCO STREET COLDWATER, KS 67029"
3,350063,P H S INDIAN HOSP AT BELCOURT-QUENTIN N BURDICK,PO BOX 160,BELCOURT,ND,58316,ROLETTE,Pressure sores,PSI-3,0.468679,NaN,07/01/2016,06/30/2018,"PO BOX 160 BELCOURT, ND 58316"
4,360076,ATRIUM MEDICAL CENTER,ONE MEDICAL CENTER DRIVE,FRANKLIN,OH,45005,WARREN,Pressure sores,PSI-3,0.133208,NaN,07/01/2016,06/30/2018,"ONE MEDICAL CENTER DRIVE FRANKLIN, OH 45005"

Each table shares a number of similar columns, many of which will not be useful for hypothesis testing and modeling. Therefore, certain columns will be dropped from every dataframe.

In [7]:
#list of dataframes
df_list = [complications, infections, spending, voc, psi]

#This removes a list of columns from each dataframe in a list of dataframes if it is there
def remove_columns(removed_columns, dataframes):
    for dataframe in dataframes:
        for column in removed_columns:
            if column in dataframe.columns:
                dataframe.drop(column, axis = 1, inplace = True)
            else:
                pass

#columns to be removed: These are redundant identifiers for the hospital in question and not needed since we have the
#provider ID
columns_to_remove = ['Address', 'City', 'State', 'Zip_Code', 'County', 'Location', 'ZIP Code', 'County name','Footnote', 
                     'Payment footnote', 'Measure_ID', 'Measure ID', 'Payment measure name', 'County Name', 'Start_Date', 'End_Date',
                    'Measure Start Date', 'Measure End Date', 'Measure start Date', 'Phone number', 'Phone Number']

#removed list of columns above from every dataframe in the list
remove_columns(columns_to_remove, df_list)

Time to double check if the dataframe is clean.

In [8]:
complications.head()

,Provider ID,Hospital Name,Measure Name,Compared to National,Denominator,Score,Lower Estimate,Higher Estimate
0,010001,SOUTHEAST ALABAMA MEDICAL CENTER,Rate of complications for hip/knee replacement...,No Different Than the National Rate,292,3.2,2.1,4.8
1,010001,SOUTHEAST ALABAMA MEDICAL CENTER,Death rate for heart attack patients,No Different Than the National Rate,688,13,11.0,15.5
2,010001,SOUTHEAST ALABAMA MEDICAL CENTER,Death rate for CABG surgery patients,No Different Than the National Rate,291,4.3,2.6,6.8
3,010001,SOUTHEAST ALABAMA MEDICAL CENTER,Death rate for COPD patients,No Different Than the National Rate,411,8.8,6.7,11.4
4,010001,SOUTHEAST ALABAMA MEDICAL CENTER,Death rate for heart failure patients,No Different Than the National Rate,869,12.7,10.7,15.0

In [9]:
complications.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 91889 entries, 0 to 91888
Data columns (total 8 columns):
Provider ID             91889 non-null object
Hospital Name           91889 non-null object
Measure Name            91889 non-null object
Compared to National    91889 non-null object
Denominator             91889 non-null object
Score                   91889 non-null object
Lower Estimate          91889 non-null object
Higher Estimate         91889 non-null object
dtypes: object(8)
memory usage: 5.6+ MB

In [10]:
complications.describe()

,Provider ID,Hospital Name,Measure Name,Compared to National,Denominator,Score,Lower Estimate,Higher Estimate
count,91889,91889,91889,91889,91889,91889,91889,91889
unique,4930,4753,19,8,7555,3068,2547,3601
top,010110,MEMORIAL HOSPITAL,Death rate for heart failure patients,No Different Than the National Rate,Not Available,Not Available,Not Available,Not Available
freq,19,285,4930,48735,40783,37573,37573,37573

The info method reveals that all data in the data are strings, which will interfere with modeling later on. Therefore, it is necessary to convert those columns to int. In addition, there are a quite a number of null values, which are represented by the *not available* string.

In [11]:
print('Denominator Null Values:', len(complications[complications['Denominator'] == 'Not Available']))
print('Score Null Values:', len(complications[complications['Score'] == 'Not Available']))
print('Lower Estimate Null values:', len(complications[complications['Lower Estimate'] == 'Not Available']))
print('Higher Estimate Null Values:', len(complications[complications['Higher Estimate'] == 'Not Available']))

print('Items with all Null values:', len(complications[(complications['Denominator']=='Not Available') & (complications['Score']=='Not Available') &(complications['Lower Estimate'] == 'Not Available') & (complications['Higher Estimate']=='Not Available')]))

Denominator Null Values: 40783
Score Null Values: 37573
Lower Estimate Null values: 37573
Higher Estimate Null Values: 37573
Items with all Null values: 37573

Government data (unsurprisingly) has a lot of null values, but somewhat fortunately, the null values almost all below to the same rows, so they'll be dropped. Though we lose a lot of data, we still have a lot leftover nonetheless.

In [12]:
drop_rows = complications[(complications['Denominator']=='Not Available') & (complications['Score']=='Not Available') &(complications['Lower Estimate'] == 'Not Available') & (complications['Higher Estimate']=='Not Available')]
complications.drop(index = drop_rows.index, inplace = True)
denom_na = complications[complications['Denominator'] == 'Not Available']
complications.drop(denom_na.index, axis= 0, inplace = True)

In [13]:
#The letter F exists for certain provider ID's, but only for this dataframe. Therefore, it will be removed.
for index, row in complications.iterrows():
    if 'F' in row['Provider ID']:
        complications = complications.drop(index=index)

In [14]:
complications.describe()

,Provider ID,Hospital Name,Measure Name,Compared to National,Denominator,Score,Lower Estimate,Higher Estimate
count,50762,50762,50762,50762,50762,50762,50762,50762
unique,4286,4128,18,3,7554,3067,2546,3600
top,260081,MEMORIAL HOSPITAL,Death rate for pneumonia patients,No Different Than the National Rate,26,0.11,0,0.2
freq,18,141,4012,48473,235,1258,8582,1416

In [15]:
#converts strings to int
complications['Provider ID'] = complications['Provider ID'].astype(int)
complications['Denominator'] = complications['Denominator'].astype(int)
complications['Score'] = complications['Score'].astype(float)
complications['Lower Estimate'] = complications['Lower Estimate'].astype(float)
complications['Higher Estimate'] = complications['Higher Estimate'].astype(float)

complications.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 50762 entries, 0 to 91831
Data columns (total 8 columns):
Provider ID             50762 non-null int32
Hospital Name           50762 non-null object
Measure Name            50762 non-null object
Compared to National    50762 non-null object
Denominator             50762 non-null int32
Score                   50762 non-null float64
Lower Estimate          50762 non-null float64
Higher Estimate         50762 non-null float64
dtypes: float64(3), int32(2), object(3)
memory usage: 3.1+ MB

In [16]:
infections.head()

,Provider ID,Hospital Name,Measure Name,Compared to National,Score
0,10012,DEKALB REGIONAL MEDICAL CENTER,MRSA Bacteremia: Patient Days,Not Available,16402
1,181329,SAINT JOSEPH BEREA,MRSA Bacteremia: Predicted Cases,Not Available,0.083
2,170150,SOUTH CENTRAL KS MED CENTER,SSI - Colon Surgery: Observed Cases,Not Available,0
3,170194,DOCTORS HOSPITAL LLC,MRSA Bacteremia: Predicted Cases,Not Available,0.010
4,170191,UNIVERSITY OF KS HLTH SYSTEM GREAT BEND CAMPUS,Clostridium Difficile (C.Diff): Predicted Cases,No Different than National Benchmark,1.936

In [17]:
infections.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 171288 entries, 0 to 171287
Data columns (total 5 columns):
Provider ID             171288 non-null int64
Hospital Name           171288 non-null object
Measure Name            171288 non-null object
Compared to National    171288 non-null object
Score                   171288 non-null object
dtypes: int64(1), object(4)
memory usage: 6.5+ MB

Since each dataset will go through a similar scrubbing process, it would be efficient to set up a function and even pipeline the process

In [18]:
#checks certain columns within a dataframe to see the number/percentage of (placeholder) null values
def detect_nulls(df, column_names, null_value):
    for name in column_names:
        print('{} Null Values:'.format(name), len(df[df[name] == null_value]))
        print('Total Entries:', len(df))
        print('Percent of Data with n/a data', len(df[df[name] == null_value])/len(df)*100)
        print('\n')

#drops rows with placeholder null value
def drop_nulls(df, column_names, null_value):
    for name in column_names:
        df_nulls = df[df[name] == null_value]
        df.drop(df_nulls.index, inplace = True)
    return detect_nulls(df, column_names, null_value)

#converts a list of columns to a specified type
def convert_type(df, column_names, dtype):
    for column in column_names:
        df[column] = df[column].astype(dtype)
    return df.info()

In [19]:
#detect nulls for infections 
detect_nulls(infections,['Score'], 'Not Available')

Score Null Values: 71957
Total Entries: 171288
Percent of Data with n/a data 42.009364345429915

In [20]:
#drops null values
drop_nulls(infections, ['Score'], 'Not Available')

Score Null Values: 0
Total Entries: 99331
Percent of Data with n/a data 0.0

In [21]:
#There are placeholder nulls values that need to be dropped before conversion
score_missing = infections[infections['Score'] == '--']
infections.drop(score_missing.index, inplace = True)

convert_type(infections, ['Score'], float)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 97620 entries, 0 to 171287
Data columns (total 5 columns):
Provider ID             97620 non-null int64
Hospital Name           97620 non-null object
Measure Name            97620 non-null object
Compared to National    97620 non-null object
Score                   97620 non-null float64
dtypes: float64(1), int64(1), object(3)
memory usage: 4.5+ MB

In [22]:
spending.head()

,Provider ID,Hospital Name,Measure Name,Score
0,10001,SOUTHEAST ALABAMA MEDICAL CENTER,Medicare hospital spending per patient (Medica...,0.99
1,10005,MARSHALL MEDICAL CENTER SOUTH,Medicare hospital spending per patient (Medica...,1.01
2,10006,NORTH ALABAMA MEDICAL CENTER,Medicare hospital spending per patient (Medica...,0.99
3,10007,MIZELL MEMORIAL HOSPITAL,Medicare hospital spending per patient (Medica...,1.08
4,10008,CRENSHAW COMMUNITY HOSPITAL,Medicare hospital spending per patient (Medica...,1.06

In [23]:
spending.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4758 entries, 0 to 4757
Data columns (total 4 columns):
Provider ID      4758 non-null int64
Hospital Name    4758 non-null object
Measure Name     4758 non-null object
Score            4758 non-null object
dtypes: int64(1), object(3)
memory usage: 148.8+ KB

In [24]:
detect_nulls(spending, ['Score'], 'Not Available')

Score Null Values: 1659
Total Entries: 4758
Percent of Data with n/a data 34.867591424968474

In [25]:
#Drops all not available rows in score
drop_nulls(spending, ['Score'], 'Not Available')

#converts Score column to float instead of string
convert_type(spending, ['Score'], float)

Score Null Values: 0
Total Entries: 3099
Percent of Data with n/a data 0.0


<class 'pandas.core.frame.DataFrame'>
Int64Index: 3099 entries, 0 to 4754
Data columns (total 4 columns):
Provider ID      3099 non-null int64
Hospital Name    3099 non-null object
Measure Name     3099 non-null object
Score            3099 non-null float64
dtypes: float64(1), int64(1), object(2)
memory usage: 121.1+ KB

In [26]:
#to streamline the process, this function will perform all three functions on a given dataset; the only limitation is if
#there are placeholder null values, which need to be manually dropped

def scrub_df(df, column_names, null_value, dtype):
    return(detect_nulls(df, column_names, null_value), drop_nulls(df, column_names, null_value), convert_type(df, column_names, dtype))

In [27]:
voc.head()

,Provider ID,Hospital name,Payment measure ID,Payment category,Denominator,Payment,Lower estimate,Higher estimate,Value of care display name,Value of care display ID,Value of care category,Value of care footnote,Measure start date
0,10001,SOUTHEAST ALABAMA MEDICAL CENTER,PAYM_30_AMI,No Different Than the National Average Payment,668,"$24,216","$22,939","$25,579",Value of Care Heart Attack measure,MORT_PAYM_30_AMI,Average Mortality and Average Payment,NaN,07/01/2015
1,10001,SOUTHEAST ALABAMA MEDICAL CENTER,PAYM_30_HF,No Different Than the National Average Payment,828,"$17,716","$16,905","$18,523",Value of Care Heart Failure measur,MORT_PAYM_30_HF,Average Mortality and Average Payment,NaN,07/01/2015
2,10001,SOUTHEAST ALABAMA MEDICAL CENTER,PAYM_30_PN,Greater Than the National Average Payment,531,"$19,203","$18,191","$20,214",Value of Care Pneumonia measure,MORT_PAYM_30_PN,Average Mortality and Higher Payment,NaN,07/01/2015
3,10001,SOUTHEAST ALABAMA MEDICAL CENTER,PAYM_90_HIP_KNEE,Greater Than the National Average Payment,284,"$24,984","$23,894","$26,172",Value of Care hip/knee replacement,COMP_PAYM_90_HIP_KNEE,Average Complications and Higher Payment,NaN,04/01/2015
4,10005,MARSHALL MEDICAL CENTER SOUTH,PAYM_30_AMI,No Different Than the National Average Payment,70,"$22,697","$20,225","$25,559",Value of Care Heart Attack measure,MORT_PAYM_30_AMI,Average Mortality and Average Payment,NaN,07/01/2015

In [28]:
#Drops a few more columns since the nomenclature for the voc df is a bit different
voc.drop(['Value of care display ID', 'Value of care footnote', 'Value of care display ID', 'Measure start date', 'Payment measure ID'], axis =1, inplace = True)

In [29]:
#Also drop the categories since the display name is more important
voc.drop(['Payment category', 'Value of care category'], axis =1, inplace = True)
voc.head()

,Provider ID,Hospital name,Denominator,Payment,Lower estimate,Higher estimate,Value of care display name
0,10001,SOUTHEAST ALABAMA MEDICAL CENTER,668,"$24,216","$22,939","$25,579",Value of Care Heart Attack measure
1,10001,SOUTHEAST ALABAMA MEDICAL CENTER,828,"$17,716","$16,905","$18,523",Value of Care Heart Failure measur
2,10001,SOUTHEAST ALABAMA MEDICAL CENTER,531,"$19,203","$18,191","$20,214",Value of Care Pneumonia measure
3,10001,SOUTHEAST ALABAMA MEDICAL CENTER,284,"$24,984","$23,894","$26,172",Value of Care hip/knee replacement
4,10005,MARSHALL MEDICAL CENTER SOUTH,70,"$22,697","$20,225","$25,559",Value of Care Heart Attack measure

In [30]:
voc.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19032 entries, 0 to 19031
Data columns (total 7 columns):
Provider ID                   19032 non-null int64
Hospital name                 19032 non-null object
Denominator                   19032 non-null object
Payment                       19032 non-null object
Lower estimate                19032 non-null object
Higher estimate               19032 non-null object
Value of care display name    19032 non-null object
dtypes: int64(1), object(6)
memory usage: 1.0+ MB

In [31]:
#remove commas and dollar signs from columns since it will interfere with data conversion
voc['Payment'] = voc['Payment'].str.replace('$', '')
voc['Payment'] = voc['Payment'].str.replace(',', '')

voc['Lower estimate'] = voc['Lower estimate'].str.replace('$', '')
voc['Lower estimate'] = voc['Lower estimate'].str.replace(',', '')

voc['Higher estimate'] = voc['Higher estimate'].str.replace('$', '')
voc['Higher estimate'] = voc['Higher estimate'].str.replace(',', '')

In [32]:
voc.head()

,Provider ID,Hospital name,Denominator,Payment,Lower estimate,Higher estimate,Value of care display name
0,10001,SOUTHEAST ALABAMA MEDICAL CENTER,668,24216,22939,25579,Value of Care Heart Attack measure
1,10001,SOUTHEAST ALABAMA MEDICAL CENTER,828,17716,16905,18523,Value of Care Heart Failure measur
2,10001,SOUTHEAST ALABAMA MEDICAL CENTER,531,19203,18191,20214,Value of Care Pneumonia measure
3,10001,SOUTHEAST ALABAMA MEDICAL CENTER,284,24984,23894,26172,Value of Care hip/knee replacement
4,10005,MARSHALL MEDICAL CENTER SOUTH,70,22697,20225,25559,Value of Care Heart Attack measure

In [33]:
#scrubs the entire voc dataframe for null values
scrub_df(voc,['Denominator', 'Payment', 'Lower estimate', 'Higher estimate'], 'Not Available', float)

Denominator Null Values: 6651
Total Entries: 19032
Percent of Data with n/a data 34.94640605296343


Payment Null Values: 6651
Total Entries: 19032
Percent of Data with n/a data 34.94640605296343


Lower estimate Null Values: 6651
Total Entries: 19032
Percent of Data with n/a data 34.94640605296343


Higher estimate Null Values: 6651
Total Entries: 19032
Percent of Data with n/a data 34.94640605296343


Denominator Null Values: 0
Total Entries: 12381
Percent of Data with n/a data 0.0


Payment Null Values: 0
Total Entries: 12381
Percent of Data with n/a data 0.0


Lower estimate Null Values: 0
Total Entries: 12381
Percent of Data with n/a data 0.0


Higher estimate Null Values: 0
Total Entries: 12381
Percent of Data with n/a data 0.0


<class 'pandas.core.frame.DataFrame'>
Int64Index: 12381 entries, 0 to 19019
Data columns (total 7 columns):
Provider ID                   12381 non-null int64
Hospital name                 12381 non-null object
Denominator                   12381 non-null float64
Payment                       12381 non-null float64
Lower estimate                12381 non-null float64
Higher estimate               12381 non-null float64
Value of care display name    12381 non-null object
dtypes: float64(4), int64(1), object(2)
memory usage: 773.8+ KB

(None, None, None)

In [34]:
voc.head()

,Provider ID,Hospital name,Denominator,Payment,Lower estimate,Higher estimate,Value of care display name
0,10001,SOUTHEAST ALABAMA MEDICAL CENTER,668.0,24216.0,22939.0,25579.0,Value of Care Heart Attack measure
1,10001,SOUTHEAST ALABAMA MEDICAL CENTER,828.0,17716.0,16905.0,18523.0,Value of Care Heart Failure measur
2,10001,SOUTHEAST ALABAMA MEDICAL CENTER,531.0,19203.0,18191.0,20214.0,Value of Care Pneumonia measure
3,10001,SOUTHEAST ALABAMA MEDICAL CENTER,284.0,24984.0,23894.0,26172.0,Value of Care hip/knee replacement
4,10005,MARSHALL MEDICAL CENTER SOUTH,70.0,22697.0,20225.0,25559.0,Value of Care Heart Attack measure

Seems like the voc data table was scrubbed without issue. Onto the last dataframe.

In [35]:
psi.head()

,Provider_ID,Provider_Name,Measure_Name,Rate
0,50224,HOAG MEMORIAL HOSPITAL PRESBYTERIAN,Pressure sores,0.883469
1,170166,MORTON COUNTY HOSPITAL,Pressure sores,0.479461
2,171312,COMANCHE COUNTY HOSPITAL,Pressure sores,Not Available
3,350063,P H S INDIAN HOSP AT BELCOURT-QUENTIN N BURDICK,Pressure sores,0.468679
4,360076,ATRIUM MEDICAL CENTER,Pressure sores,0.133208

In [36]:
#Scrub the psi df by removing nulls and convert dtypes
scrub_df(psi, ['Rate'], 'Not Available', float)

Rate Null Values: 19722
Total Entries: 52338
Percent of Data with n/a data 37.68199014100653


Rate Null Values: 0
Total Entries: 32616
Percent of Data with n/a data 0.0


<class 'pandas.core.frame.DataFrame'>
Int64Index: 32616 entries, 0 to 52337
Data columns (total 4 columns):
Provider_ID      32616 non-null int64
Provider_Name    32616 non-null object
Measure_Name     32616 non-null object
Rate             32616 non-null float64
dtypes: float64(1), int64(1), object(2)
memory usage: 1.2+ MB

(None, None, None)

## Reorganizing Dataframes

Under their current formatting, combining even two dataframes will lead to exponentially bigger dataframes. This is because each dataframe have multiple different measures such that combining any two dataframe will cause those measures to multiply. Therefore, it's necessary to reformat each dataframe to make merging later on a bit simpler.

In [37]:
#drop a few more columns that won't be used in data analysis. Again, provider ID serves the same purpose.
complications.drop(['Hospital Name', 'Compared to National'], axis =1, inplace = True)

complications.head()

,Provider ID,Measure Name,Denominator,Score,Lower Estimate,Higher Estimate
0,10001,Rate of complications for hip/knee replacement...,292,3.2,2.1,4.8
1,10001,Death rate for heart attack patients,688,13.0,11.0,15.5
2,10001,Death rate for CABG surgery patients,291,4.3,2.6,6.8
3,10001,Death rate for COPD patients,411,8.8,6.7,11.4
4,10001,Death rate for heart failure patients,869,12.7,10.7,15.0

In [38]:
#resets the index
complications = complications.reset_index(drop=True)

In [40]:
#create a blank dataframe where the data of each measure has its own column
feature_df = pd.DataFrame()
score_types = ['Denominator', 'Score', 'Lower Estimate', 'Higher Estimate']
complic_measure = complications['Measure Name'].unique()


for measure in complic_measure:
    for score in score_types:
        feature_df[measure + '_' + score] = 0
        
feature_df.head()

Empty DataFrame
Columns: [Rate of complications for hip/knee replacement patients_Denominator, Rate of complications for hip/knee replacement patients_Score, Rate of complications for hip/knee replacement patients_Lower Estimate, Rate of complications for hip/knee replacement patients_Higher Estimate, Death rate for heart attack patients_Denominator, Death rate for heart attack patients_Score, Death rate for heart attack patients_Lower Estimate, Death rate for heart attack patients_Higher Estimate, Death rate for CABG surgery patients_Denominator, Death rate for CABG surgery patients_Score, Death rate for CABG surgery patients_Lower Estimate, Death rate for CABG surgery patients_Higher Estimate, Death rate for COPD patients_Denominator, Death rate for COPD patients_Score, Death rate for COPD patients_Lower Estimate, Death rate for COPD patients_Higher Estimate, Death rate for heart failure patients_Denominator, Death rate for heart failure patients_Score, Death rate for heart failure patients_Lower Estimate, Death rate for heart failure patients_Higher Estimate, Death rate for pneumonia patients_Denominator, Death rate for pneumonia patients_Score, Death rate for pneumonia patients_Lower Estimate, Death rate for pneumonia patients_Higher Estimate, Death rate for stroke patients_Denominator, Death rate for stroke patients_Score, Death rate for stroke patients_Lower Estimate, Death rate for stroke patients_Higher Estimate, Postoperative Acute Kidney Injury Requiring Dialysis Rate_Denominator, Postoperative Acute Kidney Injury Requiring Dialysis Rate_Score, Postoperative Acute Kidney Injury Requiring Dialysis Rate_Lower Estimate, Postoperative Acute Kidney Injury Requiring Dialysis Rate_Higher Estimate, Postoperative Respiratory Failure Rate_Denominator, Postoperative Respiratory Failure Rate_Score, Postoperative Respiratory Failure Rate_Lower Estimate, Postoperative Respiratory Failure Rate_Higher Estimate, Serious blood clots after surgery_Denominator, Serious blood clots after surgery_Score, Serious blood clots after surgery_Lower Estimate, Serious blood clots after surgery_Higher Estimate, Blood stream infection after surgery_Denominator, Blood stream infection after surgery_Score, Blood stream infection after surgery_Lower Estimate, Blood stream infection after surgery_Higher Estimate, A wound that splits open after surgery on the abdomen or pelvis_Denominator, A wound that splits open after surgery on the abdomen or pelvis_Score, A wound that splits open after surgery on the abdomen or pelvis_Lower Estimate, A wound that splits open after surgery on the abdomen or pelvis_Higher Estimate, Accidental cuts and tears from medical treatment_Denominator, Accidental cuts and tears from medical treatment_Score, Accidental cuts and tears from medical treatment_Lower Estimate, Accidental cuts and tears from medical treatment_Higher Estimate, Pressure sores_Denominator, Pressure sores_Score, Pressure sores_Lower Estimate, Pressure sores_Higher Estimate, Deaths among Patients with Serious Treatable Complications after Surgery_Denominator, Deaths among Patients with Serious Treatable Complications after Surgery_Score, Deaths among Patients with Serious Treatable Complications after Surgery_Lower Estimate, Deaths among Patients with Serious Treatable Complications after Surgery_Higher Estimate, Collapsed lung due to medical treatment_Denominator, Collapsed lung due to medical treatment_Score, Collapsed lung due to medical treatment_Lower Estimate, Collapsed lung due to medical treatment_Higher Estimate, Broken hip from a fall after surgery_Denominator, Broken hip from a fall after surgery_Score, Broken hip from a fall after surgery_Lower Estimate, Broken hip from a fall after surgery_Higher Estimate, Perioperative Hemorrhage or Hematoma Rate_Denominator, Perioperative Hemorrhage or Hematoma Rate_Score, Perioperative Hemorrhage or Hematoma Rate_Lower Estimate, Perioperative Hemorrhage or Hematoma Rate_Higher Estimate]
Index: []

[0 rows x 72 columns]

However, every provider does **not** provide data for every measure. Therefore, each provider will need to be buffered with null values to allow for easy merging later on

In [41]:
#returns list of missing measure names between two lists
def list_diff(li1, li2): 
    return (list(set(li1) - set(li2))) 


def missing_indices(all_measures, provider_measures):
    missing_indexes = []
    
    if list_diff(all_measures, provider_measures):
        missing_measures = list_diff(all_measures, provider_measures)

        for measure in missing_measures:
            missing_indexes.append(all_measures[all_measures==measure].index[0])
    
    missing_indexes.sort()
    
    return missing_indexes

    
# Function to insert row in the dataframe 
def insert_row(missing_indexes, specific_provider):
    new_provider = specific_provider.copy()

    if len(missing_indexes) != 0:
        for index in missing_indexes:
            
            missing_data = [provider, all_measures[index]]
            
            for i in range(len(specific_provider.columns)-2):
                missing_data.append(np.nan)
            
#            missing_data = [provider, all_measures[index], np.nan, np.nan, np.nan, np.nan]
        
            if index < specific_provider.index.max()+1: 
        
                # Slice the upper half of the dataframe 
                df1 = new_provider[0:index].copy()
   
                # Store the result of lower half of the dataframe 
                df2 = new_provider[index:].copy()
   
                # Insert the row in the upper half dataframe 
                df1.loc[index]=missing_data 
   
                # Concat the two dataframes 
                new_provider = pd.concat([df1, df2]) 
   
        new_provider.reset_index(drop = True, inplace=True)
        return(new_provider)
    else:
        return (specific_provider)

In [42]:
#create variables for the complication dataframe
all_providers = complications['Provider ID'].unique()
all_measures = pd.Series(complications['Measure Name'].unique())

final_df = pd.DataFrame()

#Ensure that every provider is supplied the same amount of measures by inserting a row with null values
for provider in all_providers:

    provider_data = complications[complications['Provider ID']==provider]
    provider_measures = provider_data['Measure Name']
    missing_indexes=missing_indices(all_measures, provider_measures)
    new_df = insert_row(missing_indexes, provider_data)
    final_df = pd.concat([final_df, new_df])
    final_df.reset_index(drop=True, inplace=True)

final_df.head()

,Provider ID,Measure Name,Denominator,Score,Lower Estimate,Higher Estimate
0,10001,Rate of complications for hip/knee replacement...,292.0,3.2,2.1,4.8
1,10001,Death rate for heart attack patients,688.0,13.0,11.0,15.5
2,10001,Death rate for CABG surgery patients,291.0,4.3,2.6,6.8
3,10001,Death rate for COPD patients,411.0,8.8,6.7,11.4
4,10001,Death rate for heart failure patients,869.0,12.7,10.7,15.0

In [43]:
providers = complications['Provider ID'].unique()
data_list = []

#create a list of just the numerical values of each measure from every provider
for provider in providers:
    data = final_df[final_df['Provider ID']==provider][['Denominator','Score','Lower Estimate','Higher Estimate']].values
    flat_data = data.reshape(-1)
    data_list.append(flat_data)

In [44]:
#combine the numerical value list with the individualized columns for every measure
end_df = pd.DataFrame(data_list, columns = feature_df.columns)

In [45]:
end_df.head()

,Rate of complications for hip/knee replacement patients_Denominator,Rate of complications for hip/knee replacement patients_Score,Rate of complications for hip/knee replacement patients_Lower Estimate,Rate of complications for hip/knee replacement patients_Higher Estimate,Death rate for heart attack patients_Denominator,Death rate for heart attack patients_Score,Death rate for heart attack patients_Lower Estimate,Death rate for heart attack patients_Higher Estimate,Death rate for CABG surgery patients_Denominator,Death rate for CABG surgery patients_Score,...,Collapsed lung due to medical treatment_Lower Estimate,Collapsed lung due to medical treatment_Higher Estimate,Broken hip from a fall after surgery_Denominator,Broken hip from a fall after surgery_Score,Broken hip from a fall after surgery_Lower Estimate,Broken hip from a fall after surgery_Higher Estimate,Perioperative Hemorrhage or Hematoma Rate_Denominator,Perioperative Hemorrhage or Hematoma Rate_Score,Perioperative Hemorrhage or Hematoma Rate_Lower Estimate,Perioperative Hemorrhage or Hematoma Rate_Higher Estimate
0,292.0,3.2,2.1,4.8,688.0,13.0,11.0,15.5,291.0,4.3,...,0.24,0.59,11971.0,0.14,0.06,0.22,3862.0,2.43,1.37,3.49
1,257.0,2.8,1.7,4.4,80.0,14.8,11.6,18.8,NaN,NaN,...,0.01,0.43,5742.0,0.10,0.01,0.19,1236.0,2.19,0.85,3.53
2,389.0,2.6,1.7,4.0,441.0,15.4,12.8,18.3,145.0,4.6,...,0.06,0.45,8846.0,0.11,0.02,0.20,2607.0,2.99,1.82,4.17
3,31.0,2.8,1.6,4.8,NaN,NaN,NaN,NaN,NaN,NaN,...,0.03,0.49,1176.0,0.11,0.01,0.20,123.0,2.49,1.00,3.98
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.03,0.50,334.0,0.11,0.02,0.20,NaN,NaN,NaN,NaN

In [46]:
#reattach the provider ID, so there is only one provider per row
providers = complications['Provider ID'].unique()
complete_df = pd.DataFrame()
complete_df['Provider_ID'] = providers
complete_df = pd.concat([complete_df, end_df], axis =1)
complete_df.head()

,Provider_ID,Rate of complications for hip/knee replacement patients_Denominator,Rate of complications for hip/knee replacement patients_Score,Rate of complications for hip/knee replacement patients_Lower Estimate,Rate of complications for hip/knee replacement patients_Higher Estimate,Death rate for heart attack patients_Denominator,Death rate for heart attack patients_Score,Death rate for heart attack patients_Lower Estimate,Death rate for heart attack patients_Higher Estimate,Death rate for CABG surgery patients_Denominator,...,Collapsed lung due to medical treatment_Lower Estimate,Collapsed lung due to medical treatment_Higher Estimate,Broken hip from a fall after surgery_Denominator,Broken hip from a fall after surgery_Score,Broken hip from a fall after surgery_Lower Estimate,Broken hip from a fall after surgery_Higher Estimate,Perioperative Hemorrhage or Hematoma Rate_Denominator,Perioperative Hemorrhage or Hematoma Rate_Score,Perioperative Hemorrhage or Hematoma Rate_Lower Estimate,Perioperative Hemorrhage or Hematoma Rate_Higher Estimate
0,10001,292.0,3.2,2.1,4.8,688.0,13.0,11.0,15.5,291.0,...,0.24,0.59,11971.0,0.14,0.06,0.22,3862.0,2.43,1.37,3.49
1,10005,257.0,2.8,1.7,4.4,80.0,14.8,11.6,18.8,NaN,...,0.01,0.43,5742.0,0.10,0.01,0.19,1236.0,2.19,0.85,3.53
2,10006,389.0,2.6,1.7,4.0,441.0,15.4,12.8,18.3,145.0,...,0.06,0.45,8846.0,0.11,0.02,0.20,2607.0,2.99,1.82,4.17
3,10007,31.0,2.8,1.6,4.8,NaN,NaN,NaN,NaN,NaN,...,0.03,0.49,1176.0,0.11,0.01,0.20,123.0,2.49,1.00,3.98
4,10008,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.03,0.50,334.0,0.11,0.02,0.20,NaN,NaN,NaN,NaN

In [47]:
#rename for easy identification
complications_complete_df=complete_df

### Infections
Repeat the same steps for the infections dataframe

In [48]:
#drop redundant columns
infections.drop(['Hospital Name', 'Compared to National'], axis = 1, inplace = True)
infections.head()

   Provider ID                                     Measure Name      Score
0        10012                    MRSA Bacteremia: Patient Days  16402.000
1       181329                 MRSA Bacteremia: Predicted Cases      0.083
2       170150              SSI - Colon Surgery: Observed Cases      0.000
3       170194                 MRSA Bacteremia: Predicted Cases      0.010
4       170191  Clostridium Difficile (C.Diff): Predicted Cases      1.936

In [49]:
#sort by provider ID
infections.sort_values(by=['Provider ID'], inplace=True)
infections.head()

,Provider ID,Measure Name,Score
103298,10001,Catheter Associated Urinary Tract Infections (...,14.786
106307,10001,SSI - Abdominal Hysterectomy: Predicted Cases,1.809
107727,10001,SSI - Abdominal Hysterectomy: Number of Proced...,210.000
109462,10001,MRSA Bacteremia: Observed Cases,1.000
106382,10001,Catheter Associated Urinary Tract Infections (...,0.641

In [51]:
data_col_names = 'Score'
df_data = infections[[data_col_names]]

#this function, like above, turns each measure & score within a dataframe into its own column
def create_col_name(dataframe, df_data, data_col_names):
    
    feature_df = pd.DataFrame()
    new_measure = dataframe['Measure Name'].unique()

    for measure in new_measure:
        if type(data_col_names)==list:
            for score in data_col_names:
                feature_df[measure + '_' + score] = 0
        else:
            feature_df[measure + '_' + data_col_names] = 0
        
    return feature_df

#create a blank df with just the column names to be filled later
infection_cols = create_col_name(infections, df_data, data_col_names)
infection_cols

Empty DataFrame
Columns: [Catheter Associated Urinary Tract Infections (ICU + select Wards): Predicted Cases_Score, SSI - Abdominal Hysterectomy: Predicted Cases_Score, SSI - Abdominal Hysterectomy: Number of Procedures_Score, MRSA Bacteremia: Observed Cases_Score, Catheter Associated Urinary Tract Infections (ICU + select Wards): Lower Confidence Limit_Score, SSI - Abdominal Hysterectomy: Observed Cases_Score, Clostridium Difficile (C.Diff): Patient Days_Score, SSI - Colon Surgery: Upper Confidence Limit_Score, Clostridium Difficile (C.Diff): Lower Confidence Limit_Score, Catheter Associated Urinary Tract Infections (ICU + select Wards): Observed Cases_Score, SSI - Colon Surgery: Predicted Cases_Score, SSI - Colon Surgery: Number of Procedures_Score, Central Line Associated Bloodstream Infection (ICU + select Wards)_Score, Central Line Associated Bloodstream Infection: Number of Device Days_Score, Clostridium Difficile (C.Diff): Observed Cases_Score, Central Line Associated Bloodstream Infection (ICU + select Wards): Observed Cases_Score, Clostridium Difficile (C.Diff): Predicted Cases_Score, Central Line Associated Bloodstream Infection (ICU + select Wards): Lower Confidence Limit_Score, MRSA Bacteremia: Lower Confidence Limit_Score, SSI - Abdominal Hysterectomy: Upper Confidence Limit_Score, Central Line Associated Bloodstream Infection (ICU + select Wards): Predicted Cases_Score, Clostridium Difficile (C.Diff): Upper Confidence Limit_Score, Clostridium Difficile (C.Diff)_Score, SSI - Colon Surgery: Observed Cases_Score, SSI - Colon Surgery_Score, Catheter Associated Urinary Tract Infections (ICU + select Wards)_Score, Catheter Associated Urinary Tract Infections (ICU + select Wards): Upper Confidence Limit_Score, SSI - Abdominal Hysterectomy_Score, Central Line Associated Bloodstream Infection (ICU + select Wards): Upper Confidence Limit_Score, MRSA Bacteremia: Patient Days_Score, Catheter Associated Urinary Tract Infections (ICU + select Wards): Number of Urinary Catheter Days_Score, MRSA Bacteremia: Upper Confidence Limit_Score, MRSA Bacteremia: Predicted Cases_Score, MRSA Bacteremia_Score, SSI - Colon Surgery: Lower Confidence Limit_Score, SSI - Abdominal Hysterectomy: Lower Confidence Limit_Score]
Index: []

[0 rows x 36 columns]

In [52]:
all_providers = infections['Provider ID'].unique()
all_measures = pd.Series(infections['Measure Name'].unique())

standard_infect_df = pd.DataFrame()

#make sure that each provider has the same # of measures by adding null values
for provider in all_providers:

    provider_data = infections[infections['Provider ID']==provider]
    provider_measures = provider_data['Measure Name']
    missing_indexes=missing_indices(all_measures, provider_measures)
    new_df = insert_row(missing_indexes, provider_data)
    standard_infect_df = pd.concat([standard_infect_df, new_df])
    standard_infect_df.reset_index(drop=True, inplace=True)

standard_infect_df.head()

   Provider ID                                       Measure Name    Score
0        10001  Catheter Associated Urinary Tract Infections (...   14.786
1        10001      SSI - Abdominal Hysterectomy: Predicted Cases    1.809
2        10001  SSI - Abdominal Hysterectomy: Number of Proced...  210.000
3        10001                    MRSA Bacteremia: Observed Cases    1.000
4        10001  Catheter Associated Urinary Tract Infections (...    0.641

In [53]:
#fx that does the same as above to create a numerical data list with flattened information to be filled into the empty
#dataframe of column names
def format_data(standard_df):
    data_list = []
    providers = standard_df['Provider ID'].unique()

    for provider in providers:
        data = standard_df[standard_df['Provider ID']==provider][[data_col_names]].values
        flat_data = data.reshape(-1)
        data_list.append(flat_data)
    return data_list

In [54]:
#create the data list for infections
data_list = format_data(standard_infect_df)

In [55]:
#fill in the columns with the data
columns = infection_cols.columns
infection_end_df = pd.DataFrame(data_list, columns = columns)
infection_end_df.head()

,Catheter Associated Urinary Tract Infections (ICU + select Wards): Predicted Cases_Score,SSI - Abdominal Hysterectomy: Predicted Cases_Score,SSI - Abdominal Hysterectomy: Number of Procedures_Score,MRSA Bacteremia: Observed Cases_Score,Catheter Associated Urinary Tract Infections (ICU + select Wards): Lower Confidence Limit_Score,SSI - Abdominal Hysterectomy: Observed Cases_Score,Clostridium Difficile (C.Diff): Patient Days_Score,SSI - Colon Surgery: Upper Confidence Limit_Score,Clostridium Difficile (C.Diff): Lower Confidence Limit_Score,Catheter Associated Urinary Tract Infections (ICU + select Wards): Observed Cases_Score,...,Catheter Associated Urinary Tract Infections (ICU + select Wards): Upper Confidence Limit_Score,SSI - Abdominal Hysterectomy_Score,Central Line Associated Bloodstream Infection (ICU + select Wards): Upper Confidence Limit_Score,MRSA Bacteremia: Patient Days_Score,Catheter Associated Urinary Tract Infections (ICU + select Wards): Number of Urinary Catheter Days_Score,MRSA Bacteremia: Upper Confidence Limit_Score,MRSA Bacteremia: Predicted Cases_Score,MRSA Bacteremia_Score,SSI - Colon Surgery: Lower Confidence Limit_Score,SSI - Abdominal Hysterectomy: Lower Confidence Limit_Score
0,14.786,1.809,210.00,1.000,0.641,0.000,94830.000,0.629,0.295,16.000,...,1.720,0.0,2.673,95739.000,13269.000,0.876,5.633,0.178,NaN,NaN
1,7.694,0.096,69.00,2.747,3.699,6.627,1.808,0.302,2.000,3.000,...,3.655,NaN,7022.000,4.000,6.000,0.185,4.000,1.106,0.326,NaN
2,0.747,96.000,2.42,2.000,2.677,25.965,62462.000,1.452,0.586,0.834,...,1.280,NaN,59885.000,0.808,2.838,5.000,65.000,3.905,5898.000,NaN
3,0.000,NaN,NaN,1403.000,NaN,NaN,1.000,NaN,0.410,316.000,...,NaN,NaN,NaN,2.020,0.767,NaN,4460.000,NaN,NaN,NaN
4,0.029,NaN,NaN,49.000,NaN,NaN,0.000,NaN,NaN,0.037,...,NaN,NaN,NaN,0.132,0.000,NaN,0.000,NaN,NaN,NaN

In [56]:
#reattach providers
providers = standard_infect_df['Provider ID'].unique()
infection_complete_df = pd.DataFrame()
infection_complete_df['Provider_ID'] = providers
infection_complete_df = pd.concat([infection_complete_df, infection_end_df], axis =1)
infection_complete_df.head()

,Provider_ID,Catheter Associated Urinary Tract Infections (ICU + select Wards): Predicted Cases_Score,SSI - Abdominal Hysterectomy: Predicted Cases_Score,SSI - Abdominal Hysterectomy: Number of Procedures_Score,MRSA Bacteremia: Observed Cases_Score,Catheter Associated Urinary Tract Infections (ICU + select Wards): Lower Confidence Limit_Score,SSI - Abdominal Hysterectomy: Observed Cases_Score,Clostridium Difficile (C.Diff): Patient Days_Score,SSI - Colon Surgery: Upper Confidence Limit_Score,Clostridium Difficile (C.Diff): Lower Confidence Limit_Score,...,Catheter Associated Urinary Tract Infections (ICU + select Wards): Upper Confidence Limit_Score,SSI - Abdominal Hysterectomy_Score,Central Line Associated Bloodstream Infection (ICU + select Wards): Upper Confidence Limit_Score,MRSA Bacteremia: Patient Days_Score,Catheter Associated Urinary Tract Infections (ICU + select Wards): Number of Urinary Catheter Days_Score,MRSA Bacteremia: Upper Confidence Limit_Score,MRSA Bacteremia: Predicted Cases_Score,MRSA Bacteremia_Score,SSI - Colon Surgery: Lower Confidence Limit_Score,SSI - Abdominal Hysterectomy: Lower Confidence Limit_Score
0,10001,14.786,1.809,210.00,1.000,0.641,0.000,94830.000,0.629,0.295,...,1.720,0.0,2.673,95739.000,13269.000,0.876,5.633,0.178,NaN,NaN
1,10005,7.694,0.096,69.00,2.747,3.699,6.627,1.808,0.302,2.000,...,3.655,NaN,7022.000,4.000,6.000,0.185,4.000,1.106,0.326,NaN
2,10006,0.747,96.000,2.42,2.000,2.677,25.965,62462.000,1.452,0.586,...,1.280,NaN,59885.000,0.808,2.838,5.000,65.000,3.905,5898.000,NaN
3,10007,0.000,NaN,NaN,1403.000,NaN,NaN,1.000,NaN,0.410,...,NaN,NaN,NaN,2.020,0.767,NaN,4460.000,NaN,NaN,NaN
4,10008,0.029,NaN,NaN,49.000,NaN,NaN,0.000,NaN,NaN,...,NaN,NaN,NaN,0.132,0.000,NaN,0.000,NaN,NaN,NaN

## Spending
This is the target variable, so not much has to be done.

In [57]:
#sort by provider ID and drop hospital name
spending.sort_values(by=['Provider ID'], inplace=True)

spending.drop(['Hospital Name'], axis=1, inplace = True)

In [58]:
spending.head()

   Provider ID                                       Measure Name  Score
0        10001  Medicare hospital spending per patient (Medica...   0.99
1        10005  Medicare hospital spending per patient (Medica...   1.01
2        10006  Medicare hospital spending per patient (Medica...   0.99
3        10007  Medicare hospital spending per patient (Medica...   1.08
4        10008  Medicare hospital spending per patient (Medica...   1.06

In [60]:
#drop measure name since there's only one measure, and rename the provider ID to be consistent with other df
spending.drop(['Measure Name'], axis =1, inplace =True)
spending.rename(columns={'Provider ID':'Provider_ID'}, inplace = True)

In [61]:
spending.head()

   Provider_ID  Score
0        10001   0.99
1        10005   1.01
2        10006   0.99
3        10007   1.08
4        10008   1.06

## VOC
Repeat for voc

In [62]:
#sort provider ID and drop hopsital name
voc.sort_values(by=['Provider ID'], inplace=True)

voc.drop(['Hospital name'], axis=1, inplace = True)

In [63]:
#rename the value of care column to measure name to allow it to be fed into our prewritten function
voc.rename(columns={'Value of care display name':'Measure Name'}, inplace = True)

In [64]:
voc.head()

,Provider ID,Denominator,Payment,Lower estimate,Higher estimate,Measure Name
0,10001,668.0,24216.0,22939.0,25579.0,Value of Care Heart Attack measure
1,10001,828.0,17716.0,16905.0,18523.0,Value of Care Heart Failure measur
2,10001,531.0,19203.0,18191.0,20214.0,Value of Care Pneumonia measure
3,10001,284.0,24984.0,23894.0,26172.0,Value of Care hip/knee replacement
4,10005,70.0,22697.0,20225.0,25559.0,Value of Care Heart Attack measure

In [119]:
#reorder the columns so it won't confuse our functions
columns = ['Provider ID', 'Measure Name', 'Denominator', 'Payment', 'Lower estimate', 'Higher estimate']
voc = voc[columns]
voc.head()

,Provider ID,Measure Name,Denominator,Payment,Lower estimate,Higher estimate
0,10001,Value of Care Heart Attack measure,668.0,24216.0,22939.0,25579.0
1,10001,Value of Care Heart Failure measur,828.0,17716.0,16905.0,18523.0
2,10001,Value of Care Pneumonia measure,531.0,19203.0,18191.0,20214.0
3,10001,Value of Care hip/knee replacement,284.0,24984.0,23894.0,26172.0
4,10005,Value of Care Heart Attack measure,70.0,22697.0,20225.0,25559.0

In [120]:
data_col_names = ['Denominator','Payment','Lower estimate', 'Higher estimate']
voc_data = voc[data_col_names]
all_providers = voc['Provider ID'].unique()
all_measures = pd.Series(voc['Measure Name'].unique())

#create the empty df with individual column names
voc_cols = create_col_name(voc, voc_data, data_col_names)

standard_voc_df = pd.DataFrame()

#Fill in the column with data
for provider in all_providers:

    provider_data = voc[voc['Provider ID']==provider]
    provider_measures = provider_data['Measure Name']
    missing_indexes=missing_indices(all_measures, provider_measures)
    new_df = insert_row(missing_indexes, provider_data)
    standard_voc_df = pd.concat([standard_voc_df, new_df])
    standard_voc_df.reset_index(drop=True, inplace=True)

standard_voc_df.head()

,Provider ID,Measure Name,Denominator,Payment,Lower estimate,Higher estimate
0,10001,Value of Care Heart Attack measure,668.0,24216.0,22939.0,25579.0
1,10001,Value of Care Heart Failure measur,828.0,17716.0,16905.0,18523.0
2,10001,Value of Care Pneumonia measure,531.0,19203.0,18191.0,20214.0
3,10001,Value of Care hip/knee replacement,284.0,24984.0,23894.0,26172.0
4,10005,Value of Care Heart Attack measure,70.0,22697.0,20225.0,25559.0

In [122]:
#create data list

data_col_names = ['Denominator','Payment','Lower estimate', 'Higher estimate']


def format_data(standard_df):
    data_list = []
    providers = standard_df['Provider ID'].unique()

    for provider in providers:
        data = standard_df[standard_df['Provider ID']==provider][data_col_names].values
        flat_data = data.reshape(-1)
        data_list.append(flat_data)
    return data_list


data_list = format_data(standard_voc_df)

In [123]:
#append data list to standardized columns
columns = voc_cols.columns
voc_end_df = pd.DataFrame(data_list, columns = columns)
voc_end_df.head()

Exception ignored in: <function DMatrix.__del__ at 0x0000017ABDC7DAE8>
Traceback (most recent call last):
  File "C:\Users\Thien Nguyen\Anaconda3\lib\site-packages\xgboost\core.py", line 482, in __del__
    if self.handle is not None:
AttributeError: 'DMatrix' object has no attribute 'handle'

,Value of Care Heart Attack measure_Denominator,Value of Care Heart Attack measure_Payment,Value of Care Heart Attack measure_Lower estimate,Value of Care Heart Attack measure_Higher estimate,Value of Care Heart Failure measur_Denominator,Value of Care Heart Failure measur_Payment,Value of Care Heart Failure measur_Lower estimate,Value of Care Heart Failure measur_Higher estimate,Value of Care Pneumonia measure_Denominator,Value of Care Pneumonia measure_Payment,Value of Care Pneumonia measure_Lower estimate,Value of Care Pneumonia measure_Higher estimate,Value of Care hip/knee replacement_Denominator,Value of Care hip/knee replacement_Payment,Value of Care hip/knee replacement_Lower estimate,Value of Care hip/knee replacement_Higher estimate
0,668.0,24216.0,22939.0,25579.0,828.0,17716.0,16905.0,18523.0,531.0,19203.0,18191.0,20214.0,284.0,24984.0,23894.0,26172.0
1,70.0,22697.0,20225.0,25559.0,298.0,16867.0,15697.0,18165.0,669.0,15973.0,15206.0,16718.0,253.0,22051.0,21041.0,23103.0
2,384.0,24385.0,23435.0,25349.0,772.0,17403.0,16661.0,18143.0,426.0,25008.0,23445.0,26652.0,642.0,16820.0,15992.0,17657.0
3,NaN,NaN,NaN,NaN,82.0,14914.0,13155.0,16788.0,209.0,16469.0,15038.0,17786.0,30.0,22066.0,19589.0,24807.0
4,NaN,NaN,NaN,NaN,25.0,14545.0,12433.0,17018.0,47.0,14702.0,12387.0,17048.0,NaN,NaN,NaN,NaN

In [124]:
#attach provider ids
voc_complete_df = pd.DataFrame()
voc_complete_df['Provider_ID'] = all_providers
voc_complete_df = pd.concat([voc_complete_df, voc_end_df], axis =1)
voc_complete_df.head()

,Provider_ID,Value of Care Heart Attack measure_Denominator,Value of Care Heart Attack measure_Payment,Value of Care Heart Attack measure_Lower estimate,Value of Care Heart Attack measure_Higher estimate,Value of Care Heart Failure measur_Denominator,Value of Care Heart Failure measur_Payment,Value of Care Heart Failure measur_Lower estimate,Value of Care Heart Failure measur_Higher estimate,Value of Care Pneumonia measure_Denominator,Value of Care Pneumonia measure_Payment,Value of Care Pneumonia measure_Lower estimate,Value of Care Pneumonia measure_Higher estimate,Value of Care hip/knee replacement_Denominator,Value of Care hip/knee replacement_Payment,Value of Care hip/knee replacement_Lower estimate,Value of Care hip/knee replacement_Higher estimate
0,10001,668.0,24216.0,22939.0,25579.0,828.0,17716.0,16905.0,18523.0,531.0,19203.0,18191.0,20214.0,284.0,24984.0,23894.0,26172.0
1,10005,70.0,22697.0,20225.0,25559.0,298.0,16867.0,15697.0,18165.0,669.0,15973.0,15206.0,16718.0,253.0,22051.0,21041.0,23103.0
2,10006,384.0,24385.0,23435.0,25349.0,772.0,17403.0,16661.0,18143.0,426.0,25008.0,23445.0,26652.0,642.0,16820.0,15992.0,17657.0
3,10007,NaN,NaN,NaN,NaN,82.0,14914.0,13155.0,16788.0,209.0,16469.0,15038.0,17786.0,30.0,22066.0,19589.0,24807.0
4,10008,NaN,NaN,NaN,NaN,25.0,14545.0,12433.0,17018.0,47.0,14702.0,12387.0,17048.0,NaN,NaN,NaN,NaN

## PSI

In [71]:
psi.head()

,Provider_ID,Provider_Name,Measure_Name,Rate
0,50224,HOAG MEMORIAL HOSPITAL PRESBYTERIAN,Pressure sores,0.883469
1,170166,MORTON COUNTY HOSPITAL,Pressure sores,0.479461
3,350063,P H S INDIAN HOSP AT BELCOURT-QUENTIN N BURDICK,Pressure sores,0.468679
4,360076,ATRIUM MEDICAL CENTER,Pressure sores,0.133208
7,470001,CENTRAL VERMONT MEDICAL CENTER,Pressure sores,0.189561

In [72]:
#once more sort provider ID. This time drop provider name
psi.sort_values(by=['Provider_ID'], inplace=True)

psi.drop(['Provider_Name'], axis=1, inplace = True)

In [73]:
#Since rename the columns temporarily since the prewritten functions used different names
psi.rename(columns={'Provider_ID':'Provider ID'}, inplace = True)
psi.rename(columns={'Measure_Name':'Measure Name'}, inplace = True)

In [74]:
data_col_names = ['Rate']
psi_data = psi[data_col_names]
all_providers = psi['Provider ID'].unique()
all_measures = pd.Series(psi['Measure Name'].unique())

#create the new columns 
psi_cols = create_col_name(psi, psi_data, data_col_names)

#standardize the data
standard_psi_df = pd.DataFrame()

for provider in all_providers:

    provider_data = psi[psi['Provider ID']==provider]
    provider_measures = provider_data['Measure Name']
    missing_indexes=missing_indices(all_measures, provider_measures)
    new_df = insert_row(missing_indexes, provider_data)
    standard_psi_df = pd.concat([standard_psi_df, new_df])
    standard_psi_df.reset_index(drop=True, inplace=True)

standard_psi_df.head()

   Provider ID                                      Measure Name      Rate
0        10001         Perioperative Hemorrhage or Hematoma Rate  2.431653
1        10001                             Serious complications  0.988963
2        10001  Accidental cuts and tears from medical treatment  0.902361
3        10001              Broken hip from a fall after surgery  0.139798
4        10001            Postoperative Respiratory Failure Rate  8.658238

In [75]:
#make the numbers list
data_list = format_data(standard_psi_df)

In [76]:
#attach the numbers list
columns = psi_cols.columns
psi_end_df = pd.DataFrame(data_list, columns = columns)
psi_end_df.head()

,Perioperative Hemorrhage or Hematoma Rate_Rate,Serious complications_Rate,Accidental cuts and tears from medical treatment_Rate,Broken hip from a fall after surgery_Rate,Postoperative Respiratory Failure Rate_Rate,Postoperative Acute Kidney Injury Requiring Dialysis Rate_Rate,Collapsed lung due to medical treatment_Rate,Serious blood clots after surgery_Rate,Blood stream infection after surgery_Rate,A wound that splits open after surgery on the abdomen or pelvis_Rate,Pressure sores_Rate
0,2.431653,0.988963,0.902361,0.139798,8.658238,0.743943,0.417947,4.730669,4.730620,0.764689,0.321086
1,2.194300,1.013998,2.730095,1.294999,0.220347,5.201541,1.111757,0.099318,1.165520,0.727128,8.517665
2,0.253779,4.788448,2.993715,0.821908,0.401065,5.772087,1.124469,1.062940,0.110857,1.020369,6.977735
3,6.880306,0.945911,1.332912,2.490901,0.259154,0.107488,1.254442,0.352706,4.778565,0.978924,4.987791
4,NaN,0.986195,NaN,0.465807,NaN,NaN,0.108775,NaN,NaN,NaN,0.268023

In [77]:
#attach provider ids
psi_complete_df = pd.DataFrame()
psi_complete_df['Provider ID'] = all_providers
psi_complete_df = pd.concat([psi_complete_df, psi_end_df], axis =1)
psi_complete_df.head()

,Provider ID,Perioperative Hemorrhage or Hematoma Rate_Rate,Serious complications_Rate,Accidental cuts and tears from medical treatment_Rate,Broken hip from a fall after surgery_Rate,Postoperative Respiratory Failure Rate_Rate,Postoperative Acute Kidney Injury Requiring Dialysis Rate_Rate,Collapsed lung due to medical treatment_Rate,Serious blood clots after surgery_Rate,Blood stream infection after surgery_Rate,A wound that splits open after surgery on the abdomen or pelvis_Rate,Pressure sores_Rate
0,10001,2.431653,0.988963,0.902361,0.139798,8.658238,0.743943,0.417947,4.730669,4.730620,0.764689,0.321086
1,10005,2.194300,1.013998,2.730095,1.294999,0.220347,5.201541,1.111757,0.099318,1.165520,0.727128,8.517665
2,10006,0.253779,4.788448,2.993715,0.821908,0.401065,5.772087,1.124469,1.062940,0.110857,1.020369,6.977735
3,10007,6.880306,0.945911,1.332912,2.490901,0.259154,0.107488,1.254442,0.352706,4.778565,0.978924,4.987791
4,10008,NaN,0.986195,NaN,0.465807,NaN,NaN,0.108775,NaN,NaN,NaN,0.268023

In [78]:
psi_complete_df.shape

(3210, 12)

In [79]:
#revert provider id back to old name
psi_complete_df.rename(columns={'Provider ID':'Provider_ID'}, inplace = True)

## Combining Dataframes

For this section, all four data frames will be merged to create one big dataframe that holds all the data of interest. Dataframes will be merged using the Provider ID as the key. Since every provider does not appear in each dataframe, an outer merge is necessary to preserve data.

In [125]:
#check number of providers and features
df_list = [complications_complete_df, infection_complete_df, psi_complete_df, voc_complete_df]

for df in df_list:
    print(df.shape)

(4286, 73)
(4116, 37)
(3210, 12)
(4132, 17)

In [126]:
#Outer merge all dataframes together with cost as the target
first_merge = complications_complete_df.merge(infection_complete_df, how='outer', on='Provider_ID', suffixes = ('_complications', '_infection'))
second_merge = first_merge.merge(psi_complete_df, how='outer', on = 'Provider_ID', suffixes=('', '_psi'))
third_merge = second_merge.merge(voc_complete_df, how = 'outer', on='Provider_ID', suffixes=('', '_voc'))
final_merge_df = third_merge.merge(spending, how = 'outer', on = 'Provider_ID', suffixes = ('','_spending'))

In [127]:
final_merge_df.rename(columns={'Score':'Spending_Score'}, inplace = True)
final_merge_df.head()

,Provider_ID,Rate of complications for hip/knee replacement patients_Denominator,Rate of complications for hip/knee replacement patients_Score,Rate of complications for hip/knee replacement patients_Lower Estimate,Rate of complications for hip/knee replacement patients_Higher Estimate,Death rate for heart attack patients_Denominator,Death rate for heart attack patients_Score,Death rate for heart attack patients_Lower Estimate,Death rate for heart attack patients_Higher Estimate,Death rate for CABG surgery patients_Denominator,...,Value of Care Heart Failure measur_Higher estimate,Value of Care Pneumonia measure_Denominator,Value of Care Pneumonia measure_Payment,Value of Care Pneumonia measure_Lower estimate,Value of Care Pneumonia measure_Higher estimate,Value of Care hip/knee replacement_Denominator,Value of Care hip/knee replacement_Payment,Value of Care hip/knee replacement_Lower estimate,Value of Care hip/knee replacement_Higher estimate,Spending_Score
0,10001,292.0,3.2,2.1,4.8,688.0,13.0,11.0,15.5,291.0,...,18523.0,531.0,19203.0,18191.0,20214.0,284.0,24984.0,23894.0,26172.0,0.99
1,10005,257.0,2.8,1.7,4.4,80.0,14.8,11.6,18.8,NaN,...,18165.0,669.0,15973.0,15206.0,16718.0,253.0,22051.0,21041.0,23103.0,1.01
2,10006,389.0,2.6,1.7,4.0,441.0,15.4,12.8,18.3,145.0,...,18143.0,426.0,25008.0,23445.0,26652.0,642.0,16820.0,15992.0,17657.0,0.99
3,10007,31.0,2.8,1.6,4.8,NaN,NaN,NaN,NaN,NaN,...,16788.0,209.0,16469.0,15038.0,17786.0,30.0,22066.0,19589.0,24807.0,1.08
4,10008,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,17018.0,47.0,14702.0,12387.0,17048.0,NaN,NaN,NaN,NaN,1.06

In [128]:
#save the final df
export_csv = final_merge_df.to_csv (r'C:\Users\Thien Nguyen\Desktop\null_dataframe.csv', index = None, header=True)

In [129]:
final_merge_df.shape

(4444, 137)

# Scrubbing Data
Although each individual dataset was already scrubbed for null values (both NaN and placeholder), standardizing each dataframe to have the same measure for each provider reintroduced null values.

In [130]:
final = final_merge_df #rename to make things easier to type
final.describe()

,Provider_ID,Rate of complications for hip/knee replacement patients_Denominator,Rate of complications for hip/knee replacement patients_Score,Rate of complications for hip/knee replacement patients_Lower Estimate,Rate of complications for hip/knee replacement patients_Higher Estimate,Death rate for heart attack patients_Denominator,Death rate for heart attack patients_Score,Death rate for heart attack patients_Lower Estimate,Death rate for heart attack patients_Higher Estimate,Death rate for CABG surgery patients_Denominator,...,Value of Care Heart Failure measur_Higher estimate,Value of Care Pneumonia measure_Denominator,Value of Care Pneumonia measure_Payment,Value of Care Pneumonia measure_Lower estimate,Value of Care Pneumonia measure_Higher estimate,Value of Care hip/knee replacement_Denominator,Value of Care hip/knee replacement_Payment,Value of Care hip/knee replacement_Lower estimate,Value of Care hip/knee replacement_Higher estimate,Spending_Score
count,4444.000000,2745.000000,2745.000000,2745.000000,2745.000000,2269.000000,2269.000000,2269.000000,2269.000000,1005.000000,...,3437.000000,3981.000000,3981.000000,3981.000000,3981.000000,2741.000000,2741.000000,2741.000000,2741.000000,3099.000000
mean,265246.333258,355.680874,2.587723,1.607322,4.161275,203.828118,12.838563,10.168224,16.042265,133.941294,...,19922.648531,247.802060,18732.252952,16965.944989,20568.222306,331.660343,20478.631886,19111.843123,21954.645750,0.986515
std,156538.804626,451.270130,0.542930,0.386819,0.904216,179.916519,1.107457,0.960599,1.443103,107.106230,...,2864.358271,269.935386,3165.219092,3014.223538,3512.548077,406.281659,3144.609781,2890.145432,3591.298368,0.085528
min,10001.000000,25.000000,1.300000,0.900000,1.700000,25.000000,8.800000,7.100000,10.400000,25.000000,...,12232.000000,25.000000,10623.000000,9000.000000,12301.000000,25.000000,12717.000000,10936.000000,14294.000000,0.480000
25%,140153.750000,83.000000,2.300000,1.400000,3.600000,72.000000,12.100000,9.500000,15.100000,58.000000,...,18139.000000,66.000000,16630.000000,14901.000000,18202.000000,88.000000,18104.000000,17067.000000,19257.000000,0.940000
50%,250734.000000,213.000000,2.500000,1.500000,4.200000,153.000000,12.800000,10.100000,16.100000,102.000000,...,19280.000000,147.000000,18004.000000,16440.000000,19601.000000,210.000000,20088.000000,19047.000000,21228.000000,0.990000
75%,390116.250000,464.000000,2.900000,1.800000,4.700000,276.000000,13.500000,10.700000,17.000000,172.000000,...,20731.000000,334.000000,19753.000000,18214.000000,21830.000000,435.000000,22472.000000,21074.000000,24067.000000,1.030000
max,670124.000000,9221.000000,11.000000,8.700000,13.900000,1553.000000,17.200000,14.500000,20.900000,827.000000,...,37367.000000,3407.000000,30724.000000,28981.000000,33408.000000,9166.000000,44945.000000,38974.000000,52558.000000,2.370000

In [131]:
final.isna().sum()

Provider_ID                                                                   0
Rate of complications for hip/knee replacement patients_Denominator        1699
Rate of complications for hip/knee replacement patients_Score              1699
Rate of complications for hip/knee replacement patients_Lower Estimate     1699
Rate of complications for hip/knee replacement patients_Higher Estimate    1699
                                                                           ...
Value of Care hip/knee replacement_Denominator                             1703
Value of Care hip/knee replacement_Payment                                 1703
Value of Care hip/knee replacement_Lower estimate                          1703
Value of Care hip/knee replacement_Higher estimate                         1703
Spending_Score                                                             1345
Length: 137, dtype: int64

Unsurprisingly, there are a **lot** of null values, since we added them. Simply dropping these null values would leave us with a greatly reduced dataframe making it impossible to conduct data analysis. Instead either filling the null values with a test statistic (e.g. mean or median) or using an algorithm for imputing values would be preferable. 

However, it might be optimal to use a combination of these methods ensure that imputed values are not too biased by NaN values.

In [132]:
#determines the percentage of null values within each column and returns a list of columns that 
#passes a threshold percentage

def detect_col_nulls(df, threshold):
    total_entries = df.shape[0]
    above_threshold = []
    for col in df.columns:
        nulls = df[col].isna().sum()
        if nulls/total_entries >= threshold:
            above_threshold.append(col)
    print('Number of columns above threshold: {} \n percentage of total df with {}% missing:{}'.format(len(above_threshold), round(threshold*100,2), round(len(above_threshold)/(df.shape[1]),2)*100))
    return above_threshold

In [133]:
col_80 = detect_col_nulls(final, .8)
col_70 = detect_col_nulls(final, .7)
col_60 = detect_col_nulls(final, .6)
col_50 = detect_col_nulls(final, .5)
col_30 = detect_col_nulls(final, .3)

Number of columns above threshold: 3
 percentage of total df with 80.0% missing:2.0
Number of columns above threshold: 7
 percentage of total df with 70.0% missing:5.0
Number of columns above threshold: 12
 percentage of total df with 60.0% missing:9.0
Number of columns above threshold: 25
 percentage of total df with 50.0% missing:18.0
Number of columns above threshold: 85
 percentage of total df with 30.0% missing:62.0

Since there's only 7 columns missing 70% of the data or more, dropping them will not hurt the overall model. However, before doing so, let's take a look at null values by index.

In [134]:
def detect_row_nulls(df, threshold):
    total_feat = df.shape[1]
    above_threshold = []
    for i in df.index:
        nulls = final.iloc[i].isna().sum()
        if nulls/total_feat >= threshold:
            above_threshold.append(i)
    print('Number of rows above threshold: {} \n percentage of total df with {}% missing:{}'.format(len(above_threshold), round(threshold*100,2), round(len(above_threshold)/(df.shape[0]),2)*100))
    return above_threshold

In [135]:
eighty_nulls = detect_row_nulls(final, .8)
fifty_nulls = detect_row_nulls(final, .5)
thirty_nulls = detect_row_nulls(final, .3)

Number of rows above threshold: 784
 percentage of total df with 80.0% missing:18.0
Number of rows above threshold: 1586
 percentage of total df with 50.0% missing:36.0
Number of rows above threshold: 1935
 percentage of total df with 30.0% missing:44.0

Conversely, there is a staggering amount of providers lacking data. Over 20% of them lack 80% or more of features. Dropping them would be regrettable, so we will try pseudolabeling first to see which produces a better model.

In [136]:
from sklearn.utils import shuffle
from sklearn.base import BaseEstimator, RegressorMixin
from sklearn.ensemble import RandomForestRegressor
import xgboost as xgb
from sklearn.model_selection import cross_val_score

#create pseudolabels and train a model with them
class PseudoLabeler(BaseEstimator, RegressorMixin):
    
    def __init__(self, model, test, features, target, sample_rate=0.2, seed=42):
        self.sample_rate = sample_rate
        self.seed = seed
        self.model = model
        self.model.seed = seed
        
        self.test = test
        self.features = features
        self.target = target
        
    def get_params(self, deep=True):
        return {
            "sample_rate": self.sample_rate,
            "seed": self.seed,
            "model": self.model,
            "test": self.test,
            "features": self.features,
            "target": self.target
        }
    
    def set_params(self, **parameters):
        for parameter, value in parameters.items():
            setattr(self, parameter, value)
        return self
        
    def fit(self, X, y):
        if self.sample_rate > 0.0:
            augemented_train = self.__create_augmented_train(X, y)
            self.model.fit(
                augemented_train[self.features],
                augemented_train[self.target]
            )
        else:
            self.model.fit(X, y)
        
        return self
    
    def __create_augmented_train(self, X, y):
        num_of_samples = int(len(test) * self.sample_rate)
        random_state = 0
        
        # Train the model and creat the pseudo-labels
        self.model.fit(X, y)
        pseudo_labels = self.model.predict(self.test[self.features])
        
        # Add the pseudo-labels to the test set
        augmented_test = test.copy(deep=True)
        augmented_test[self.target] = pseudo_labels
        
        # Take a subset of the test set with pseudo-labels and append in onto
        # the training set
        sampled_test = augmented_test.sample(n=num_of_samples)
        temp_train = pd.concat([X, y], axis=1)
        augemented_train = pd.concat([sampled_test, temp_train])
        return shuffle(augemented_train)
        
    def predict(self, X):
        return self.model.predict(X)
    
    def get_model_name(self):
        return self.model.__class__.__name__

In [137]:
target = 'Spending_Score'
features = final.columns[1:-1]

train = final[pd.isnull(final[target]) == False]
test = final[pd.isnull(final[target])]

# Preprocess the data
X_train = train[features]
y_train = train[target]

X_test = test[features]

# Create the PseudoLabeler with XGBRegressor as the base regressor
model = PseudoLabeler(
    xgb.XGBRegressor(nthread=1),
    test,
    features,
    target
)

In [138]:
final.head()

,Provider_ID,Rate of complications for hip/knee replacement patients_Denominator,Rate of complications for hip/knee replacement patients_Score,Rate of complications for hip/knee replacement patients_Lower Estimate,Rate of complications for hip/knee replacement patients_Higher Estimate,Death rate for heart attack patients_Denominator,Death rate for heart attack patients_Score,Death rate for heart attack patients_Lower Estimate,Death rate for heart attack patients_Higher Estimate,Death rate for CABG surgery patients_Denominator,...,Value of Care Heart Failure measur_Higher estimate,Value of Care Pneumonia measure_Denominator,Value of Care Pneumonia measure_Payment,Value of Care Pneumonia measure_Lower estimate,Value of Care Pneumonia measure_Higher estimate,Value of Care hip/knee replacement_Denominator,Value of Care hip/knee replacement_Payment,Value of Care hip/knee replacement_Lower estimate,Value of Care hip/knee replacement_Higher estimate,Spending_Score
0,10001,292.0,3.2,2.1,4.8,688.0,13.0,11.0,15.5,291.0,...,18523.0,531.0,19203.0,18191.0,20214.0,284.0,24984.0,23894.0,26172.0,0.99
1,10005,257.0,2.8,1.7,4.4,80.0,14.8,11.6,18.8,NaN,...,18165.0,669.0,15973.0,15206.0,16718.0,253.0,22051.0,21041.0,23103.0,1.01
2,10006,389.0,2.6,1.7,4.0,441.0,15.4,12.8,18.3,145.0,...,18143.0,426.0,25008.0,23445.0,26652.0,642.0,16820.0,15992.0,17657.0,0.99
3,10007,31.0,2.8,1.6,4.8,NaN,NaN,NaN,NaN,NaN,...,16788.0,209.0,16469.0,15038.0,17786.0,30.0,22066.0,19589.0,24807.0,1.08
4,10008,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,17018.0,47.0,14702.0,12387.0,17048.0,NaN,NaN,NaN,NaN,1.06

In [139]:
from sklearn.metrics import r2_score


# Train the model and use it to predict
pseudo_model = model.fit(X_train, y_train)

scores = cross_val_score(pseudo_model, X_train, y_train, scoring = 'r2', cv = 8)
print('cv_score mean:',scores.mean())
print('cv_score std:', scores.std())

C:\Users\Thien Nguyen\Anaconda3\lib\site-packages\ipykernel_launcher.py:63: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

C:\Users\Thien Nguyen\Anaconda3\lib\site-packages\ipykernel_launcher.py:63: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

C:\Users\Thien Nguyen\Anaconda3\lib\site-packages\ipykernel_launcher.py:63: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

C:\Users\Thien Nguyen\Anaconda3\lib\site-packages\ipykernel_launcher.py:63: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

C:\Users\Thien Nguyen\Anaconda3\lib\site-packages\ipykernel_launcher.py:63: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

C:\Users\Thien Nguyen\Anaconda3\lib\site-packages\ipykernel_launcher.py:63: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

C:\Users\Thien Nguyen\Anaconda3\lib\site-packages\ipykernel_launcher.py:63: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

C:\Users\Thien Nguyen\Anaconda3\lib\site-packages\ipykernel_launcher.py:63: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

cv_score mean: 0.3096770466284781
cv_score std: 0.08572076143066788

Both the mean and standard deviation are quite low. Let's see how simply dropping rows would fare with a normal XGBoost model

In [140]:
final_drop = final.drop(eighty_nulls, axis = 0)

In [142]:
spending = final_drop[pd.isnull(final_drop['Spending_Score']) == False]
no_spending = final_drop[pd.isnull(final_drop['Spending_Score'])]

x_cols = final_drop.columns[1:-1]

X_train = spending[x_cols]
y_train = spending['Spending_Score']

xgb_spend = xgb.XGBRegressor(random_state=0)
xgb_spend.fit(X_train, y_train)

#y_preds = rf_spend.predict(no_spending[x_cols])

scores = cross_val_score(xgb_spend, X_train, y_train, scoring = 'r2', cv = 8)
print(scores.mean())
print(scores.std())

0.35981125746009535
0.11097976620719918

Both model do not fare well, but the dropped model does better.

For further verification, both models will be tested against a validation set of fully complete data points (Ie. providers without any null values).

In [143]:
#Create validation set with 100% features and target

#Check the first 2000 providers and create a list of index for each provider that has no null values
not_null_index = []
for i in final.index[0:2000]:
    if all(pd.notnull(final.iloc[i])):
        not_null_index.append(i)

#locate data based on index        
val_data = final.iloc[not_null_index]

#create train/test split
val_train= val_data[features]
val_test= val_data[target]

In [144]:
#feed the validation training data through both models and print r2 scores
xgb_preds = xgb_spend.predict(val_train)
xgb_r2= r2_score(val_test, xgb_preds)


pseudo_preds = pseudo_model.predict(val_train)
pseudo_r2 = r2_score(val_test, pseudo_preds)

In [145]:
print('xgb r2:', xgb_r2)
print('pseudolabel r2:', pseudo_r2)

xgb r2: 0.48045187698323377
pseudolabel r2: 0.4576420324075249

The dropped model does slightly better, but this is to be expected since only entries with 80% or more nulls were dropped. For now, we'll stick to the pseudolabeled model.

In [148]:
y_preds = pseudo_model.predict(X_test)

In [149]:
test.loc[:,'Spending_Score'] = y_preds.astype(float)

C:\Users\Thien Nguyen\Anaconda3\lib\site-packages\pandas\core\indexing.py:494: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

In [150]:
final2 = pd.concat([train, test], axis=0)

In [151]:
final2.isna().sum()

Provider_ID                                                                   0
Rate of complications for hip/knee replacement patients_Denominator        1699
Rate of complications for hip/knee replacement patients_Score              1699
Rate of complications for hip/knee replacement patients_Lower Estimate     1699
Rate of complications for hip/knee replacement patients_Higher Estimate    1699
                                                                           ...
Value of Care hip/knee replacement_Denominator                             1703
Value of Care hip/knee replacement_Payment                                 1703
Value of Care hip/knee replacement_Lower estimate                          1703
Value of Care hip/knee replacement_Higher estimate                         1703
Spending_Score                                                                0
Length: 137, dtype: int64

In [152]:
final2.shape

(4444, 137)

In [155]:
seventy_nulls = detect_col_nulls(final2, .7)

Number of columns above threshold: 7
 percentage of total df with 70.0% missing:5.0

From examining the null values in each columns, it's obvious to see that there are still a **lot** of null values left with some columns having much more than others.  This can will be addressed via both dropping and algorithmic imputation. First, we'll drop any columns with 70% or more of its data missing, which turns out to be about 10 columns.

In [156]:
final3 = final2.drop(seventy_nulls, axis = 1)

In [157]:
fifty_nulls = detect_col_nulls(final3, .5)

Number of columns above threshold: 18
 percentage of total df with 50.0% missing:14.000000000000002

Some columns may only be missing around 10% of values, while others are missing 70%. Simply dropping columns would lead to a great amount of data loss. Therefore, KNN imputation would be the best method to preserving the data while still preserving general trends. We'll also test against the validation data to see how well the imputation performs.

In [158]:
from missingpy import KNNImputer
#forest_imp = MissForest()

C:\Users\Thien Nguyen\Anaconda3\lib\site-packages\sklearn\utils\deprecation.py:144: FutureWarning: The sklearn.neighbors.base module is  deprecated in version 0.22 and will be removed in version 0.24. The corresponding classes / functions should instead be imported from sklearn.neighbors. Anything that cannot be imported from sklearn.neighbors is now part of the private API.
  warnings.warn(message, FutureWarning)

In [159]:
#Create validation set with 100% features and target
features = final3.columns[1:-1]


#Check the first 2000 providers and create a list of index for each provider that has no null values
not_null_index = []
for i in final3.index[0:2000]:
    if all(pd.notnull(final3.iloc[i])):
        not_null_index.append(i)

#locate data based on index        
val_data = final3.iloc[not_null_index]

#create train/test split
val_train= val_data[features]
val_test= val_data[target]

In [160]:
x_cols = final3.columns[1:-1]

knn_imp = KNNImputer(n_neighbors=20, weights='distance')
knn_imputed = knn_imp.fit_transform(final3)
knn_df= pd.DataFrame(knn_imputed, columns = final3.columns)

X_train = knn_df[x_cols]
y_train = knn_df['Spending_Score']

xgb_knn = xgb.XGBRegressor(random_state=0)
xgb_knn.fit(X_train, y_train)

xgb_knn_scores = cross_val_score(xgb_knn, X_train, y_train, scoring = 'r2', cv = 8)
xgb_knn_preds = xgb_knn.predict(val_train[x_cols])


xgb_knn_r2= r2_score(val_test, xgb_knn_preds)

print('CV score mean:', xgb_knn_scores.mean())
print('R2 validation score:', xgb_knn_r2)

C:\Users\Thien Nguyen\Anaconda3\lib\site-packages\missingpy\knnimpute.py:224: UserWarning: There are rows with more than 50.0% missing values. These rows are not included as donor neighbors.
  .format(self.row_max_missing * 100))
C:\Users\Thien Nguyen\Anaconda3\lib\site-packages\sklearn\utils\validation.py:933: FutureWarning: Passing attributes to check_is_fitted is deprecated and will be removed in 0.23. The attributes argument is ignored.
  "argument is ignored.", FutureWarning)
C:\Users\Thien Nguyen\Anaconda3\lib\site-packages\missingpy\knnimpute.py:282: UserWarning: There are rows with more than 50.0% missing values. The missing features in these rows are imputed with column means.
  .format(self.row_max_missing * 100))
C:\Users\Thien Nguyen\Anaconda3\lib\site-packages\missingpy\pairwise_external.py:135: FutureWarning: 'warn_on_dtype' is deprecated in version 0.21 and will be removed in 0.23. Don't set `warn_on_dtype` to remove this warning.
  warn_on_dtype=warn_on_dtype, estimator=estimator)
C:\Users\Thien Nguyen\Anaconda3\lib\site-packages\missingpy\pairwise_external.py:138: FutureWarning: 'warn_on_dtype' is deprecated in version 0.21 and will be removed in 0.23. Don't set `warn_on_dtype` to remove this warning.
  warn_on_dtype=warn_on_dtype, estimator=estimator)

CV score mean: 0.5358526571454005
R2 validation score: 0.6093081386687911

In [175]:
xgb_knn_scores

array([0.20311207, 0.34405065, 0.26018833, 0.46514384, 0.32490212,
       0.9712454 , 0.96193025, 0.75624858])

The CV score is quite high and after examining the individual scores of each fold, it's clear that certain areas were disproportionately affected by the imputation.

In [162]:
def missing_values_table(df):
        mis_val = df.isnull().sum()
        mis_val_percent = 100 * df.isnull().sum() / len(df)
        mis_val_table = pd.concat([mis_val, mis_val_percent], axis=1)
        mis_val_table_ren_columns = mis_val_table.rename(
        columns = {0 : 'Missing Values', 1 : '% of Total Values'})
        mis_val_table_ren_columns = mis_val_table_ren_columns[
            mis_val_table_ren_columns.iloc[:,1] != 0].sort_values(
        '% of Total Values', ascending=False).round(1)
        print ("Your selected dataframe has " + str(df.shape[1]) + " columns.\n"      
            "There are " + str(mis_val_table_ren_columns.shape[0]) +
              " columns that have missing values.")
        return mis_val_table_ren_columns
    
missing_values_table(final3)['Missing Values'].sum()/(final3.shape[0]*final3.shape[1])

Your selected dataframe has 130 columns.
There are 128 columns that have missing values.

0.3323893927854324

A R2 score of .60 isn't too bad considering that almost every column has NaN values and almost 33% of the entire data is composed of null values. It is also much better than the r2 scores when we simply pseudolabeled or dropped a chunk of entries with null values above a threshold of 80%. 

Since a good chunk of the data has been imputed, the test data used for the next section will derive only from providers that did not originally have any missing entries. This would lend the test data some validity as it was not imputed inorganically.

In [171]:
#Create pure dataset with 100% features and target
features = final3.columns[1:-1]

not_null_index=[]

#add index of providers with no null variables
for i in final3.index:
    if all(pd.notnull(final3.iloc[i])):
        not_null_index.append(i)

#locate data based on index        
pure_data = final3.iloc[not_null_index]

In [172]:
len(pure_data)

936

In [174]:
#save both datasets to use in modeling
pure_data.to_csv(r'C:\Users\Thien Nguyen\Desktop\pure_df.csv', index = None, header = True)
knn_df.to_csv(r'C:\Users\Thien Nguyen\Desktop\knn_df.csv', index = None, header = True)

## Conclusion and Future Considerations:

Initially, the dataframes all had many entries with the exception of the spending dataframe, which was the target. Due to the limitation imposed by the target, much of the data from other .csv files were dropped because they were not applicable. In the future, it is critical to select a target variable capable of accounting for more data. If not, then more data mining is necessary to make up for this deficit.

# Project Summary:

1. Pulled five dataframes from Medicare.gov that rated hospital attributes
2. Removed superfluous and redundant columns--location indicators, provider names (only ID was necessary), phone number, footnotes, etc
3. Scrubbed each dataframe for NaN values as well as placeholder null values
4. Restructure each dataframe to allow for one provider for each row
    1. This reintroduced null values since many providers lacked information on many measures 
5. Merged all dataframes into one dataframe with spending as the target 
6. Instead of dropping rows/columns, psuedolabeling was used to label missing target (spending) rows
7. KNN imputation was used to fill in the rest of the NaN values.
8. Fill methods was tested against validation dataset of providers without any null values
9. Imputed dataframe and a pure dataframe of all providers without nulls were exported